*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav > img{
    width: 150px;
}
.nav-links{
    flex-flow: 1;
    text-align: right;
}
.nav-links > ul > li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links > ul > li >a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links > ul > li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links > ul > li:hover::after{
    width: 100%;
}

@media(max-width:700px){
    .nav-links > ul > li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background-color:  rgb(43, 42, 42);
        height: 60vh;
        width: 100%;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        z-index: 2;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }
}

.sub-header{
    height: 60vh;
    width: 100%;
    background-image:  linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(https://wallpaperaccess.com/full/1209535.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 70px;
}


.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between; 
}

@media(max-width: 800px){
    .row{
        flex-direction: column;
    }
} 
.course-col{
    flex-basis: 31%;
    background-color:  #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-size: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
}


.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col > img{
    width: 100%;
    border-radius: 10px;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa-brands{
    font-size: 20px;
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-regular{
    color: #f44336;
    padding-left: 5px;
    padding-right: 5px;
}


